* {
    font-family: 'Lato', sans-serif;
}


body {
    background: url("../assets/background.jpg") no-repeat fixed center;
    opacity: 0.90;
    background-size:cover;
}

#title {
    text-align: center;
    padding-top: 45px;
    color: white;
    font-size: 36px;
}

#btn_add_contact {
    position: relative;
    float: right;
    margin-right: 5%;
}

.input-group-text {
    min-width: 100px;
    width: 125px;
    text-align: left;
}

#app_wrapper {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

#input_search_last_name {
    margin-bottom: 10px;
    width: 95%;
}

.alert{
    display:none;
}

#phone_list_wrapper {
    display: inline-block;
    width: 95%;
}

#delete_contact_wrapper {
    display: inline-block;
    width: 5%;
    margin-bottom: 15px;
    padding-left: 1px;
}


#delete_contact_row {
    height: 49px;

}

#delete_contact_row_data {
    display: flex;
    background-color: indianred;
    justify-content: center;
    align-content: center;
    /*border-radius: 15px;*/
    height: 47px;
    width: 45px;
    cursor: pointer;
}

.fa-trash {
    margin-top: 13px;
    color: white;
}

#delete_contact_row_data:hover  {
    background-color: #343a40;
}

